header {
    background-color: #003580;
    color: #FFF;
}


main {

}


footer {
    background: #f7f7f7;
    color: #6f777b;
    font-size: 13px;
    line-height: 2;
    padding: 30px 0 0;


}

#nav-principal {
    background-color: #003580;
}

#nav-principal nav,#header-content{
    background-color: #003580;
    
}

.container {
    max-width: 80%; 
    margin: auto;
    
}

#logo {
    width: 30px;
    
    height: 30px;
    
}

.flex {
    display: flex;
}



.color-fondo {
    background-color: #003580;
}
